/*Adição da fonte Montserrat ao programa */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");

/* Zerando o padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--peso);
}
:root {
  --fundo: linear-gradient(241.29deg, #4d4a50 10.31%, #1a1919 93.41%);
  --texto: white;
  --botao: linear-gradient(
    257.91deg,
    #c366ff 17.54%,
    #d37fc8 54.55%,
    #e95582 72.93%
  );
  --botaoTxt: white;
  --input-fundo: white;
  --peso: 300;
}

.white-mode:root {
  --fundo: linear-gradient(232.73deg, #fbfbfb 8.79%, #bebebe 84.88%);
  --texto: rgb(0, 0, 0);
  --botao: linear-gradient(
    260.02deg,
    #a6c3e4 -4.36%,
    #3f87dd -4.35%,
    #7db1ef 45.09%,
    #86bcfc 59.75%
  );
  --botaoTxt: rgb(3, 3, 3);
  --input-fundo: white;
  --peso: 500;
}



body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--fundo);
  color: var(--texto);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 90%;
  min-height: 500px;
  height: auto;
  box-shadow: 0px 0px 14px -3px black;
  border-radius: 15px;
}

.area{
  display: none;
}
#gerar{
  display: none;
}
#voltar{
  display: flex;
}


input {
  background: var(--input-fundo);
  border-radius: 12px;
  width: 100px;
  height: 40px;
  border-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#voltar{
  width: 230px;
  height: 50px;
  border-radius: 30px;
  background-color: #2D888F;
  font-size: 24px;
  transition: 10ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#voltar:hover{
  transition: 10ms;
  border-radius: 30px;
  -webkit-transform: scale(1.1); 
  -ms-transform: scale(1.1); 
  transform: scale(1.1); 
  box-shadow: 5px 5px 10px rgb(0, 100, 131);
}

#result {
  padding: 10px;
  background-color: var(--input-fundo);
  color: black;
  border-radius: 12px;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  height: auto;
  min-height: 40px;
  word-break: break-all;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnCalcular {
  width: 140px;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  background: var(--botao);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin-top: 5%;
  transition: 0.2s;
  color: white;
  font-weight: 500;
  align-items: center;
  font-size: 1.3rem;
  cursor: pointer;
}
#btnCalcular:hover {
  transform: scale(110%);
}



::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 100, 131); 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: #2D888F; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 100, 131); }
